*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner{
  font-size: 12px;
  position: relative;
  background: #24C6DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.banner__contenedor{
  width: 100%;
  max-width: 1100px;
 
  margin: auto;

}
.banner__texto{
  display: flex;
 
}
.banner__imgconte{
 width: 90%;

 padding-left: 30px;

}
.banner__img{
  width: 100%;
  height: 400px;
  object-fit: cover;

  
}
.banner__parrafo{
  width: 85%;
  font-size: 1.3em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner__h1{
  margin-top: 80px;
  color: white;
  width: 90%;
  font-size: 4.5em;
  font-family:'Rubik', sans-serif;
  font-weight: bold;
}


.main__contenedor{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 50px 0;
 

}
.main__mas-info{
  border: 2px solid yellow;
}
.main__articulos{
  display: flex;
  padding: 20px 50px 100px 50px;

}
.cardmodificado1{
  background-image: url(./img/pexels-oleksandr-pidvalnyi-2837005.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
 
  
}
.cardmodificado2{
  background-image: url(./img/pexels-guduru-ajay-bhargav-863988.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
 
  
}
.cardmodificado3{
  background-image: url(./img/pexels-pixabay-289586.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  
}
.cardmodificado{
  background-image: url(./img/pexels-cedric-fauntleroy-7219166.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ========== main */
.card {
  width: 230px;
  height: 274px;
  border-radius: 20px;
  background-image: #f5f5f5;
  position: relative;
  margin-left: 30px;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details {
  text-align: center;
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 .main__mas-info{
  width: 100%;
  height: 450px;
   border: 2px solid rgb(219, 218, 218);
  
}
.mas-infobloque2{
  padding: 20px;

  width: 300px;
  height: 300px;
  
}

.columna{
  height: 300px;
  background-image: url(./img/pexels-oleksandr-pidvalnyi-2837005.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.mas-infobloque1{
  padding: 10px;
  text-align: center;

}
.mas-info__row{
  width: 100%;
}

.mas-infocontenedor{
  width: 100%;
  height: inherit;
  max-width: 1100px;

} 

 .footer{
  width: 100%;
  height: 200px;
  background-color: #514A9D;
 }
 .footer__contenedor{
  text-align: center;
  font-size: 1.5em;
  padding-top: 40px;
  color: white;
 }
 @media(max-width:949px){

   .main__articulos{
    flex-wrap: wrap;
   }
   .cardmodificado{
    width: 94%;
    margin-top: 50px;
   }
   

 }

 @media(max-width:883px){
  .cardmodificado3{
    margin-top: 50px;
    width: 94%;

   }
   .cardmodificado1, .cardmodificado2 {
      width: 350px;

   }

 }
 @media(max-width:863px){

.cardmodificado1, .cardmodificado2{
   width: 100%;
   margin-top: 50px;
}
 }

 @media(max-width:612px){
  .banner{
    height: 100vh;;
  }
 
  .banner__img{
    margin-top: 50px;
    object-fit: cover;
    
  }


  .banner__imgconte{
    padding-left: 0;
  }
  .banner__h1{
    font-size: 3em;
  }

 }
@media(max-width:992px){


  .columna1{
    width: 100%;
  }

  .main__mas-info{

    width: 100%;
    height: 510px;
  
  }
}
@media(max-width:767px){

  .main__mas-info{
    height: 570px;
  
  }
 
}

body{
  background-color: rgb(237, 237, 237);
  font-size: 12px;
  position: relative;
}

/*
========================================
     Esta es la seccion del Header
========================================
 */
.cabecera{
  width: 100%;
  height: 460px;
  border: 2px solid rgb(212, 207, 207);
  text-align: center;
}
.cabecera__video{
  width: 100%;
  object-fit: cover;
  height:460px;
  /* width: 100%;
  height: 460px; */
  
}
.cabecera__span{
 display: block;
 font-size: 0.4em;
 margin-bottom: -24px;

}
.cabecera__titulo{
  color: white;
 margin-right: 900px;
 margin-top: 140px;
 font-size: 65px;
 position: absolute;
 top: 65px;
left: 750px;
 
 
}
.nav{
width: 100%;
padding: 20px 0;
 text-align: center;

 background-color: rgba(87, 85, 85, 0.354);
 position: fixed;
 top: 0;
 z-index: 100;
 
}
.nav__item{
  display: inline-block;
 
}
.nav__enlace{
text-decoration: none;
padding: 5px 25px;
color: white;
font-size: 1.2em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



/*
========================================
    Esta es seccion del Main
========================================
 */

.bloque1{
  width: 80%;
  margin: auto;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgb(219, 217, 217);
  box-shadow: 0 3px 5px rgb(194, 193, 193);
  background-color: white; 
}
.bloque1__subtitulo{
  color: white;
  font-size: 1.5em;
  border-radius: 50px;
  padding: 15px 50px;
  margin-top: 2em;
  margin-bottom: 25px;
  background-color: rgb(9, 222, 194);
  display: inline-block;
  font-family: 'Roboto', sans-serif;

}
.bloque1__contenedor{
  width: 100%;
  height: 250px;
  margin: 70px 0;
  text-align: center; 
}
.bloque1__texto{
  width: 79%; 
  height: auto;
  text-align: center;
  margin: auto;
}
.bloque1__parrafo{

  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 22px;
}



.bloque2{
  width: 80%;
  margin: auto;
  box-shadow: 0 3px 5px rgb(215, 215, 215);
  background-color: white;
 
  
}

.bloque2__contenedor{
  width: 100%;
  padding: 80px 0;
  
}
.articulo{
  width: 250px;
  height: 290px;
  padding: 9px;
  margin-left: 130px;
  border: 1px solid rgb(216, 222, 223);
  display: inline-block ;
  border-radius: 10px;
  background-color: rgb(241, 241, 240);
  text-align: center;
 
}
.articulo__imagen{
  width: 100%;
}

/*
==================================
Estilos de la pagina (estrella)
==================================
*/
.bloque2__contenedorpg-estrella{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: relative;
  
}
.articulo-pg-estrella{
  width: 80%;
  height: 290px;
  margin: auto;
  padding: 30px 30px;

  border: 1px solid rgb(216, 222, 223);
  display: inline-block ;
  border-radius: 10px;
  background-color: rgb(241, 241, 240);
  text-align: center;
}
.articulo__imagenpg-estrella{
   width: 100%;
   height: 100%;
   padding: 10px 5px;

}
.bloque2__textopg-estrella{
  position: absolute;
  top: 140px;
  left: 0;
}
.bloque2__subtitulopg-estrella{
  font-size: 1.9em;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.bloque2__parrafopg-estrella{
  font-size:1.2em ;
font-family: 'Roboto', sans-serif;  
width: 60%;
margin: auto;
line-height: 21px;
color: white;
}
/*
==================================
Estilos de la pagina (galaxia)
==================================
*/

/* estilo para la pagina galaxia*/
.bloque2__textopg-galaxia{
  width:50%;
  text-align: right;
  font-size:1.2em ;
  font-family: 'Roboto', sans-serif;  
  display: inline-block;
 margin-left: 30px; 
}
.bloque2__subtitulopg-galaxia{
  margin-bottom: 20px;
}
.articulo__imagenpg-galaxia{
  border-radius: 50%;
  width: 100%;
  height:200px;
  
}
.articulo__nombrepg-galaxia{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 40px;
}

.articulopg-pulsar{
  width: 200px;
  height: 290px;
 
  margin-left: 120px;
 
}

.articulopg-asteroide{
  width: 200px;
  height: 210px;
  padding: 0;
}

.articulo__nombre{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 30px;
}
.bloque2__texto{
  width: 550px;
  text-align: center;
  display: inline-block ;
  margin-left: 55px;
}
.bloque2__subtitulo{
  font-size: 1.9em;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}


.bloque2__parrafo{
font-size:1.2em ;
font-family: 'Roboto', sans-serif;  
width: 80%;
margin: auto;
line-height: 21px;
}
.articulo__imagen{
  border-radius: 10px;
  width: 100%;
}


/*  Esta es la seccion de pie de pagina*/

.final{
  width: 80%;
  height: 100px;
  margin: auto;
  text-align: center;
  background-color: rgb(9, 222, 194);
  border-top: 1px solid grey;
}
.final__texto{
  width: 300px;
  margin: auto;
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/*==================================================*/
:root{

  --colorprimario:white;
  --fuente1:'Roboto', sans-serif;
}
.contenedor{

  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-areas: "header"
                        "main"
                        "footer";
}
.baner{
  width: 100%;
  height: 70vh;
  
  position: relative;

  display: flex;
  
}
.baner__bloque1, .baner__bloque2{
  width: 100%;
 
}
.baner__bloque1{
  background-color: rgb(199, 14, 60);
}
.baner__bloque2{
  background-image: url("../img/header__img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.baner__texto{
  width: 55%;
 
  margin-top: 150px;
  margin-left: 6em;
  color: var(--colorprimario);
}
.baner__titulo{
  width: 50%;
}
.baner__descripcion{
  line-height: 1.2em;
  font-family:var(--fuente1);
  letter-spacing: 1px;
}

.baner__contenedor-img{
  width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 3px solid blue; */
}
.baner__img{
  width: 100%;
  
}

/*===================================== SECCION PRODUCTOS */


.grid-contenedor{
  margin: 0;
  padding: 0;
  padding: 0 6em 10px 6em;
  
}
.productos{
  margin: 0;
  padding: 0;
}

.cardconte{
  width: 100%;
  padding: 40px 0px 20px 0; 

}
.cardconte__contenedor-img{
  width: 100%;

}
.cardconte__img{
 width: 100%;
}

.cardconte__texto{
  text-align: center;
  margin-top: 25px;
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 11rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.8rem;
  height: 2.8rem;
  background: #474c9a;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }
/*========================================================*/
/*===========================================  SECCION CONTENIDO*/

.contenido{
  width: 100%;
  height: auto;
  padding: 0 6em;
  background: #1F1C2C;  /* fallback for old browsers */
padding-bottom: 30px;
background: linear-gradient(to right, #ebe9f6, #dedce8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  display: flex;
 
}
.contenido__cuadro1{
  width: 100%;
  height:350px;


}
.contenido__contenedor{
  width: 100%;
  height: 100%;

  margin: auto;
  /* margin-top: 10px; */
 
}
.contenido__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido__cuadro2{
  width: 100%;
  height: 80%;
  
  
}
.contenido__contenedor-cuadro2{
  padding-left: 20px;
}
.contenido__subtitulo{
  margin-top: 1em;
  width: 70%;
  font-weight: bold;
  font-family: var(--fuente1);
}
.contenedor__parrafo{
  font-family: var(--fuente1);
  font-size: 1em;
  
}
/*========================================================*/
/*===========================================  SECCION EXTRAS*/
.extras{
  width: 100%;
  height: 400px;
  position: relative;
  background-color: rgb(199, 14, 60);
  padding: 0 6em;
  margin: 0;
}
.extras__contenedor{
 
  width: 100%;
  height: 350px;
  background-image: url("../img/img__seccion-extras.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.extras__texto{
  position: absolute;
  top: 50px;
  right:300px;
  width: 200px;
  margin-left: 100px;
  color: bisque;
}


/*============================================ seccion Footer */

.conte-footer{
  width: 100%;
  height: 140px;
  background-color: #282936;
  border-top: 2px solid red;
  
}
.conte-footer__texto{
  
  text-align: center;
}
.conte-footer__lista{
  list-style: none;
  display: flex;
  justify-content: center;

}
.conte-footer__parrafo{
  margin-bottom: 5px;
  margin-top: 40px;
  color: white;
}
.conte-footer__link{
  display: inline-block;
  padding: 10px 15px;
}
/*===============================================0 los medias queries*/


@media(max-width:1233px){
  
  .header__texto{ 
    margin-top: 150px; 
  }
  .extras__texto{
    left:100px;
    /* margin-top: 150px;
    text-align: center; */
}
  
}

@media(max-width:1162px){
 
  .header__texto{ 
    margin-top: 140px; 
  }
  .header__contenedor-img{
    width: 370px;

  }

}
@media(max-width:1120px){
 
 
  .header__contenedor-img{
    
    display: none;

  }
  .header__bloque2{
    display: none;
    /* background-image: url("../img/header__img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  }
  .header__bloque1{
    background-image: url("../img/header__img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .header__texto{ 
   
    width: 45%;
  }
  .header__descripcion{
    color: rgb(252, 250, 250);
    padding: 2px 3px;
    font-weight: 300;
    font-family: var(--fuente1);
  }

}
@media(max-width:991px){
  .header__img{
    display: none;
  }
  
}
@media(max-width:1024px){
  .header__contenedor-img{
    width: 290px;
  }
  .header__texto{ 
    margin-top: 130px; 
  }
  .header__descripcion{
    font-size: 0.9em;
  }
 
}
@media(max-width:968px){
  .contenido{
 
  flex-direction: column;
    
   
  }
  }


  @media(max-width:661px){
    .baner__bloque2{
    display: none;
    }
    .baner__bloque1{
    background-image: url(../img/header__img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
      }
     
.baner__descripcion{
  font-size: 1.5em;
}
.baner{
  height: 100vh;
}
    
    .header__descripcion{
      font-size:17px;
    }
    .productos{
        flex-direction: column;
    }
    .articulo{
      width: 100%;
    }
    .grid-contenedor{
      padding: 0 4em 10px 4em;     
    }
    .cardconte__contenedor-img{
      width: 70%;
      margin: auto;
    }
    .contenido{
      padding: 0 4em;
    }

    .header__texto{
    
      margin-left: 5em;

    }
    .extras__descripcion{
      display: none;
    }
    .extras__texto{
        margin-top: 150px;
        text-align: center;
    }
    .extras__titulo{
      width: 100%;
      margin-left: -20px;
    }
    .extras{
      padding: 0 0;
    }
  
    }



    @media(max-width:495px){
      .grid-contenedor{
       
        padding: 0 1em 10px 1em;
        
      }
      .contenido{
        padding: 0 1em;
      }  
        
      .extras{
        padding: 0 0;
      }
      .contenedor{
        padding: 0 0;
  
    }
    

     }

     /*=========================================================*/
     /*================= =========================*/
   